/*Applies to all*/
.eng-v, .eng-underverse, .eng-h, .eng-uh {
  font-family: 'Open Sans', serif;
  color: #333333;
}
.gr-v, .gr-underverse, .gr-h, .gr-uh {
  font-family: 'Cardo', serif;
  color: rgb(42, 98, 125);
}
/*Applies to Seen*/
.eng-h, .gr-h {
  display: block;
  padding-bottom: 10px;
}
.eng-v, .gr-v {
  display: inline-block;
  vertical-align: middle;
}

li:hover {
  color: rgb(42, 98, 125);
}
ol {
    margin-left: 12%;
    margin-right: 12%;
    counter-reset: foo;
    display: table;
}
li {
    list-style: none;
    counter-increment: foo;
    display: table-row;
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif;
    color: rgb(147, 147, 147);
}
li::before {
    content: counter(foo) " ";
    display: table-cell;
    text-align: right;
    vertical-align: middle;
    padding-right: 25px;
    padding-bottom: 15px;
}
/*Applies to Unseen*/
.gr-uh, .eng-uh, .gr-underverse, .eng-underverse {
  display: none;
}
.gr-underverse, .gr-uh {
  font-weight: 100;
  font-size: 1.25em;
}
.eng-underverse, .eng-uh {
  font-weight: 100;
  font-size: 1.25em;
}
.gr-underverse, .eng-underverse {
  padding: 2px 0px 10px 5px;
}
/*Applies to tops and bottoms*/
.xtra-space {
  height: 75px;
  width: 800px;
}
.book-link-div {
  display: block;
  text-align: center;
}
.book-link {
  font-family: 'Open Sans', serif;
  font-size: 1.25em;
  color: white;
  padding: 10px 20px;
  background-color: rgba(42, 98, 125, 0.5);
  border: #d7c7b2;
  transition: border, 500ms, ease-in-out, 300ms;
  transition: background-color, 500ms, ease-in-out, 300ms;
}
.book-link:hover {
  border: 1px solid rgb(42, 98, 125);
  background-color: rgb(42, 98, 125);
}
@media screen and (max-width: 800px) {
  ol {
    margin-left: 3%;
    margin-right: 12%;
  }
}
