/*Applies to all*/
.eng-v, .eng-underverse, .eng-h, .eng-uh {
  font-family: 'Open Sans', serif;
  color: #333333;
}
.gr-v, .gr-underverse, .gr-h, .gr-uh {
  font-family: 'Cardo', serif;
  color: rgb(42, 98, 125);
}
/*Applies to Seen*/
.eng-h, .gr-h {
  display: block;
  padding-bottom: 10px;
}
.eng-v, .gr-v {
  display: block;
  margin-right: 8%;
  margin-left: 8%;
  margin-top: 10px;
}
.num {
  font-family: 'Open Sans', serif;
  color: rgb(156, 153, 157);
}
.num:hover {
  color: rgb(42, 98, 125);
}
/*Applies to Unseen*/
.gr-uh, .eng-uh, .gr-underverse, .eng-underverse {
  display: none;
}
.gr-underverse, .gr-uh {
  font-weight: 100;
  font-size: 1.25em;
}
.eng-underverse, .eng-uh {
  padding-right: 20px;
  font-weight: 100;
}
.gr-underverse, .eng-underverse {
  padding-top: 2px;
  padding-bottom: 10px;
  margin-left: 9%;
}
/*Applies to tops and bottoms*/
.xtra-space {
  height: 75px;
  width: 800px;
}
.book-link-div {
  display: block;
  text-align: center;
}
.book-link {
  font-family: 'Open Sans', serif;
  font-size: 1.25em;
  color: white;
  padding: 10px 20px;
  background-color: rgba(42, 98, 125, 0.5);
  border: #d7c7b2;
  transition: border, 500ms, ease-in-out, 300ms;
  transition: background-color, 500ms, ease-in-out, 300ms;
}
.book-link:hover {
  border: 1px solid rgb(42, 98, 125);
  background-color: rgb(42, 98, 125);
}
