* {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
}
header {
  height: 800px;
  padding: 50px;
  background-image: url('../images/stormy-ocean.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-bottom: -10px;
}
.hero {
  border: 2px solid white;
  background: rgba(23, 45, 56, 0.48);
  padding: 190px;
  height: 600px;
  box-shadow: 2px 2px 4px #000000;
  text-align: center;
}
.welcome { /* The Odyssey */
  color: white;
  font-family: 'Open Sans', serif;
  font-weight: 200;
  letter-spacing: 10px;
  font-size: 60px;
  text-align: center;
  text-shadow: 2px 2px 4px #000000;
}
.kicker { /* English Translation with the Greek Text */
  text-align: center;
  font-family: 'Open Sans', serif;
  font-weight: 100;
  font-size: 20px;
  letter-spacing: 3px;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
}
.container {
  background-color: rgb(42, 98, 125);
  margin-top: -20px;
  min-height: 800px;
}
.about-title {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}
.text {
  position: relative;
  background-color: #dfd1c0;
  margin-right: 8%;
  margin-left: 8%;
  margin-bottom: 0;
}
p {
  font-family: 'Open Sans', serif;
  font-size: 1.25em;
  font-weight: lighter;
  color: #333333;
  padding-right: 20px;
  margin-top: 10px;
  margin-left: 50px;
  margin-right: 35px;
  line-height: 40px;
}
a {
    border: none;
    font-size: 1.25em;
    font-weight: lighter;
    color: inherit;
    font-family: inherit;
    text-decoration: none;
}
.blockquote {
  margin-left: 20%;
  margin-right: 20%;
}
.blockquote .num:hover {
  color: rgb(156, 153, 157);
}
.quote {
  font-family: 'Cardo', serif;
  color: #4a4a4a;
}
.rose-fingers {
  position: relative;
  width: 100%;
  height: 500px;
  background-image: url('../images/rocks-ocean.jpg');
  background-size: cover;
  background-position: center bottom;
  z-index: 0;
}
#odyssey-site {
  font-family: 'Cardo', serif;
  color: rgb(42, 98, 125);
}
.footer {
  width: 100%;
  height: 100px;
  background-color: rgb(42, 98, 125);
}
.quote-box {
  margin-left: 15%;
  margin-right: 15%;
}
.quote-text {
  font-family: 'Cardo', serif;
  color: #dfd1c0;
  text-shadow: 2px 2px 4px #000000;
  position: relative;
  padding-top: 25%;
  padding-left: 150px;
}
.about-graf, .q {
  margin-left: 17%;
  margin-right: 17%;
}
.q {
  font-family: 'Cardo', serif;
  color: rgb(42, 98, 125);
  font-size: 1.1em;
  display: none;
}
.num {
  font-family: 'Open Sans', serif;
  color: rgb(156, 153, 157);
  display: inline-block;
  vertical-align: middle;
}
